*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main{
   width: 100%;
   padding: 20px;
}

header{
   padding: 10px;
   height: 30%;  
   display: flex;
   justify-content: space-between; 
   align-items: center;
   position: relative;
}
.menu{
    width:30px;
    height:30px;   
    background-image: url('./images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;

}
.menu:hover{
    background-image: url('./images/icon-menu-close.svg');
}

nav{
   position: absolute;
   right: 0;
   top: 0;
   height: 0;
   width: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   z-index: 1;
   
}
nav a{
    color: black;
}
.menu:hover~nav{
    width: 50%;
    height: 500px;
    background-color: white;
}
nav:hover{
    width: 50%;
    height:500px;
    background-color: white;
}

.photo{
    background-image: url('./images/image-web-3-mobile.jpg');
    height: 600px;
    width: 520px;
    background-repeat: no-repeat;
}

.text{
    padding-top: 30px;
    width: 520px;
    font-size: 80px;
}

.conteiner3{
    width: 520px;
    height: 250px;
    font-size: 30px;
    margin-top: 20px;
}
.red-conteiner{
    background-color: #f35c53;
    width: 370px;
    height: 50px;
    font-size: 40PX;
    margin-top: 50px;
    padding-left: 50px;
}
.red-conteiner a{
    color: white;
}

.blu_conteiner{
    background-color: #030019;
    width: 100%;
    height: 500%;
    margin-top: 100px;
}
span{
    color: #f1ab60;
    font-size: 40px;
    margin-left: 40px;
}
h1{
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}
p{
    color: #aeacbe;
    margin-left: 40px;
    margin-top: 10px;
}
.line{
    border: 1px solid red;
    width: 80%;
    margin-left: 40px;
    margin-top: 10%;
}

.uder-photos{
    background-image: url('./images/image-retro-pcs.jpg');
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    margin-top: 100px;
}
.uder-photos2{
    background-image: url('./images/image-top-laptops.jpg');
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    margin-top: 100px;
}
.uder-photos3{
    background-image: url('./images/image-gaming-growth.jpg');
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    margin-top: 100px;
}
h2{
    margin-left: 230px;
    color: #c5c4cc;
    font-size: 50px;
}
h3{
    margin-left: 230px;
    margin-top: 40px;
    width: 120%;
    color: black;
    font-size: 25px;
}
.last-p-tags{
    color: #aeacbe;
    margin-left: 230px;
    margin-top: 50px;
    width: 120%;
    font-size: 20px;
}
