
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.main-conata{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    height: 300px;
    background-image: url("./image/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
.cards{
    display: flex;
}
.card{
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-color: white;
}
.upper{
    flex-wrap: wrap;
}
.upper .card{
    width: 50%;
    padding: 25% 0 ;
    position: relative;

}
.content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.persons{
    height: 300px;
    background-color: white;

}
.lower-cards{
    display: flex;
}
.lower-cards .card{
    width: 25%;
    Padding: 20% 0 ;
}
footer{
    background-color: skyblue;
    height: 100px;
}