*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 1200px;
    height: 600px;
    display: flex;
    gap: 200px;
    margin: 20px auto;

    height: 600px;
    border: 1px solid;
}
.goup{
    width: calc(70% - 20px);
    height: 100%;
    border: 2px solid red;
}
.singl{
    width: 30%;
    height: 100%;
    border: 2px solid green;
}